/*===================
  Bootstrap Overrides
===================*/

/* Typography */

body {
  font-family: 'Open Sans', 'Verdana', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
}

h1, h2 {
  text-transform: uppercase !important;
  font-weight: 900 !important;
}

header .jumbotron {
  background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%) !important;
  background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8)) !important;
  background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  background-repeat: repeat-x !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075) !important;
  border-bottom: 1px solid #eee !important;
  padding-top: 25% !important;
  padding-bottom: 25% !important;
}

header h1 {}

header .jumbotron h2 {
  font-weight: 100 !important;
}

/* Row Gutters */

@media screen and (max-width: 767px) {
  header .jumbotron {
    padding-top: 65px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  header .jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  header .jumbotron h2 {
    font-size: 30px;
  }
  .jumbotron h2 {
    font-size: 47px;
  }
}

.row.margin-btm-med {
  margin-bottom: 25px;
}

.row.margin-btm-lg {
  margin-bottom: 50px;
}

/* Navbar Links */

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: rgb(184, 32, 31) !important;
  transition: color 300ms linear;
}

/* Button Group + Tabs */

.view-attorneys .nav-tabs {
  border-bottom: 0;
}

.view-attorneys .nav-tabs>li.active>a>button, .view-attorneys .nav-tabs>li.active>a:focus>button, .view-attorneys .nav-tabs>li.active>a:hover>button {
  background-image: -webkit-linear-gradient(top, #337ab7 0, #265a88 100%);
  background-image: -o-linear-gradient(top, #337ab7 0, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #245580;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.view-attorneys .nav-tabs>li.active>a, .view-attorneys .nav-tabs>li.active>a:focus {
  border: 1px solid #adadad;
  background-position: 0 15px;
  padding: 0;
  outline: none;
}

.view-attorneys .nav-tabs>li>a>button {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}

.view-attorneys .nav-tabs>li>a {
  padding: 0;
}

.view-attorneys .nav-tabs>li>a:hover {
  border: 1px solid transparent;
  padding: 0;
  outline: none;
}

.view-attorneys .nav-tabs>li>a>button:hover {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

.view-attorneys .nav-tabs>li.active>a>button:hover {
  background: #265a88;
}

/* Prosecutor List */

/* Even Spacing */

#prosecutor-list li.single-attorney a {
  padding: 5px 15px 20px 15px !important;
}

.find-prosecutor.jumbotron {
  background-color: transparent;
}

#prosecutor-list h2 {
  text-transform: uppercase;
  font-weight: 800;
}

#prosecutor-list ul {
  padding: 0;
  margin: 0 auto;
}

#prosecutor-list li {
  list-style: none;
  padding: 0;
}

#prosecutor-list a {
  display: inline-block;
  border-radius: 8px;
  width: 100%;
  background-color: #eee;
  border: 3px solid #fff;
  color: #333;
  text-decoration: none;
}

#prosecutor-list a:hover {
  background-color: #ddd;
  color: #111;
}

#prosecutor-list p a {
  background-color: transparent;
  border: none;
  color: #337ab7;
}

#prosecutor-list p a:hover {
  background-color: transparent;
}

/* CSS Ribbon */

@media screen and (max-width: 991px) {
  #ribbon .container {
    top: 0px !important;
    -webkit-filter: none !important;
    filter: none !important;
  }
  .view-attorneys ul.nav-tabs li, .view-attorneys ul.nav-tabs li.active {
    display: block;
    width: 100%;
  }
  .view-attorneys ul.nav-tabs li a button, .view-attorneys ul.nav-tabs li.active a button, .view-attorneys ul.nav-tabs li a, .view-attorneys ul.nav-tabs li.active a {
    width: 100%;
  }
}

#ribbon {
  width: 110px;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  right: 65px;
  overflow: hidden;
  z-index: 99999;
}

#ribbon .base p {
  color: #fff;
  text-align: center;
  font-weight: 900;
  padding-top: 1px;
  padding-left: 6px;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#ribbon .container {
  position: relative;
  top: -40px;
  width: 100px;
  height: 95px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#ribbon .container:hover {
  top: 0px;
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
  transition: all 300ms linear;
}

#ribbon .container a {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}

#ribbon .base {
  height: 40px;
  width: 100px;
  background: rgb(199, 59, 60);
  background: -moz-linear-gradient(top, rgba(199, 59, 60, 1) 0%, rgba(184, 32, 31, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(199, 59, 60, 1)), color-stop(100%, rgba(184, 32, 31, 1)));
  background: -webkit-linear-gradient(top, rgba(199, 59, 60, 1) 0%, rgba(184, 32, 31, 1) 100%);
  background: -o-linear-gradient(top, rgba(199, 59, 60, 1) 0%, rgba(184, 32, 31, 1) 100%);
  background: -ms-linear-gradient(top, rgba(199, 59, 60, 1) 0%, rgba(184, 32, 31, 1) 100%);
  background: linear-gradient(top, rgba(199, 59, 60, 1) 0%, rgba(184, 32, 31, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f', GradientType=0);
  position: relative;
  z-index: 2;
  border-left: 1px solid #631a15;
  border-right: 1px solid #631a15;
}

#ribbon .base:after {
  content: '';
  position: absolute;
  top: 0;
  width: 86px;
  left: 6px;
  height: 36px;
  border-left: 1px dashed #631a15;
  border-right: 1px dashed #631a15;
}

#ribbon .base:before {
  content: '';
  position: absolute;
  top: 0;
  width: 86px;
  left: 7px;
  height: 36px;
  border-left: 1px dashed #da5050;
  border-right: 1px dashed #da5050;
}

#ribbon .point {
  width: 100px;
  height: 100px;
  background: #b8201f;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #631a15;
}

#ribbon .point:after {
  content: '';
  position: absolute;
  top: 6px;
  width: 86px;
  left: 7px;
  height: 87px;
  border: 1px dashed #631a15;
  /*border-right: 1px dashed #631a15;*/
}

#ribbon .point:before {
  content: '';
  position: absolute;
  top: 6px;
  width: 86px;
  left: 8px;
  height: 88px;
  border: 1px dashed #da5050;
  /*border-right: 1px dashed #da5050;*/
}
