<template name="attorneyView">

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{{headshot}}" class="thumbnail" width="100%"/>
        </div>
        <div class="col-md-8">
          <h1>{{name}}</h1>
          <h2>{{role}}</h2>
          <h3><strong>{{state}}</strong> ({{county}})</h3>
          <div class="row">
            <div class="col-md-6">
              <p>
                {{office.address.street}}<br />
                {{office.address.city}}, {{state}} {{office.address.zipcode}}<br />
              </p>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <p>
                <strong><a href="tel:{{office.address.phone}}"><i class="fas fa-phone-square"></i> {{office.address.phone}}</a></strong><br />
                <strong><a href="mailto:{{office.email}}"> <i class="fas fa-envelope"></i> {{office.email}}</a></strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="icons">
                <li>
                  <a href="{{websites.url}}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                  </a>
                </li>
                <li>
                  <a href="{{websites.wiki}}" target="_blank">
                    <i class="fab fa-wikipedia-w"></i>
                  </a>
                </li>
                <li>
                  <a href="{{websites.googleNews}}" target="_blank">
                    <i class="fas fa-newspaper"></i>
                  </a>
                </li>
                <li>
                  <a href="{{websites.facebook}}" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="{{websites.twitter}}" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
                <li>
                  <a href="{{websites.instagram}}" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="{{websites.linkedin}}" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="page-header">
        <h2><strong>Relevant Cases</strong> <small>Cases available online</small></h2>
        <ul class="case-list">
          {{#each relevantCases}}
            <li>
              <h3>
                <a href="{{this.url}}" target="_blank">
                  {{this.title}}
                </a>
                <p><em>{{this.summary}}</em></p>
              </h3>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</template>
