<template name="footer">
  <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3 class="page-header">Links</h3>
					<ul>
						<li><a href="{{pathFor route='home'}}">Attorney General</a></li>
						<li><a href="{{pathFor route='home'}}#us-attorney">U.S. Attorney</a></li>
						<li><a href="{{pathFor route='home'}}#district-attorney">District Attorney</a></li>
						<li><a href="{{pathFor route='home'}}#municipal-attorney">Municipal/City Attorney</a></li>
						<li><a href="{{pathFor route='home'}}#election">Elections</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h3 class="page-header">Contribute</h3>
					<ul>
            <li><a href="{{pathFor route='about'}}">About Light Pollution</a></li>
						<li><a href="#">Add an Attorney</a></li>
						<li><a href="add.html#suggestions">Suggestions</a></li>
						<li><a href="https://github.com/billimarie/light-pollution/" target="_blank">GitHub Repo</a></li>
						<li><a href="https://github.com/billimarie/light-pollution/wiki" target="_blank">Documentation</a></li>
					</ul>
				</div>
			  <div class="col-md-4">
          <h3 class="page-header">About</h3>
          <p>&copy; 2018 BLR. <strong>Light Pollution</strong> is a prototype of an independent, open-source, public prosecutor oversight database/app. Updated May 15th 2017. Built and maintained by <strong><a href="https://www.github.com/billimarie" target="_blank">@billimarie</a></strong>.</p>
			  </div>
      </div>
		</div>
	</footer>
</template>
