<template name="search">
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Find</span>
    </div>
    <input type="text" name="search" class="form-control" placeholder="Type in a name, state, or role." aria-label="Large" aria-describedby="inputGroup-sizing-lg">
  </div>

  <ul class="list-group">
    {{#if searching}}
      <p>Loading...</p>
    {{else}}
      <!-- {{#each Attorneys}}
        List Something
        NOTE: Tie into findAttorneyType?
      {{/each}} -->
    {{/if}}
  </ul>
</template>
