<template name="attorneyView">
  {{#if Attorneys}}
    {{#each Attorneys}}
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              {{#if headshot}}
                <img src="{{headshot}}" class="thumbnail" width="100%" />
              {{else}}
                <img src="/images/anon-prosecutor.jpg" class="thumbnail" width="100%" />
              {{/if}}
            </div>
            <div class="col-md-8" style="text-align: left;">
              <h1>{{name}}</h1>
              <h2>{{role}}</h2>
              <h3><strong>{{state}}</strong> ({{county}})</h3>
              <div class="row">
                <div class="col-md-6">
                  <p>
                    {{office.address.street}}<br />
                    {{office.address.city}}, {{state}} {{office.address.zipcode}}<br />
                  </p>
                </div>
                <div class="col-md-6" style="text-align: right;">
                  <p>
                    <strong><a href="tel:{{office.address.phone}}"><i class="fas fa-phone-square"></i> {{office.address.phone}}</a></strong><br />
                    <strong><a href="mailto:{{office.email}}"> <i class="fas fa-envelope"></i> {{office.email}}</a></strong>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="icons">
                    {{#if websites.url}}
                    <li>
                      <a href="{{websites.url}}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </li>
                    {{/if}}
                    {{#if websites.wiki}}
                    <li>
                      <a href="{{websites.wiki}}" target="_blank">
                        <i class="fab fa-wikipedia-w"></i>
                      </a>
                    </li>
                    {{/if}}
                    {{#if websites.googleNews}}
                    <li>
                      <a href="{{websites.googleNews}}" target="_blank">
                        <i class="fas fa-newspaper"></i>
                      </a>
                    </li>
                    {{/if}}
                    {{#if websites.facebook}}
                    <li>
                      <a href="{{websites.facebook}}" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                    </li>
                    {{/if}}
                    {{#if websites.twitter}}
                    <li>
                      <a href="{{websites.twitter}}" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                    </li>
                    {{/if}}
                    {{#if websites.instagram}}
                    <li>
                      <a href="{{websites.instagram}}" target="_blank">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    {{/if}}
                    {{#if websites.linkedin}}
                    <li>
                      <a href="{{websites.linkedin}}" target="_blank">
                        <i class="fab fa-linkedin"></i>
                      </a>
                    </li>
                    {{/if}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{> articleView}}

      <div class="container">
        <div class="row">
          <div class="page-header">
            <h2><strong>Relevant Cases</strong><br /><small>Cases available online</small></h2>
            <ul class="case-list">
              {{#each relevantCases}}
                <li>
                  <h3>
                    <a href="{{this.url}}" target="_blank">
                      {{this.title}}
                    </a>
                    <p><em>{{this.summary}}</em></p>
                  </h3>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</template>
