//------------COLORS -------------//
$c-white: #fff;
$c-orange-dark: #a84420;
$c-teal: #5f9797; 
$c-purple: #8a5cd1;
$c-blue-med: #4866fb;
$c-green-kelly: #099949;
$c-green-olive: #98983e;
$c-orange-light: #b56618;
$c-orange-background: rgba(181, 102, 24, 0.5);
$c-cyan: #68b7d5;
$c-magenta: #820064; 
$c-grey-med: #6b6b6b;
$c-grey-light: rgba(242, 242, 242, 1);

//------------	FONTS -------------//
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$f-text: 'Josefin Sans', sans-serif;
$baseFontSize:			16;
$baseLineHeight:		$baseFontSize * 1.8;

//------------ units -------------//
$nav-up: -3rem;
$nav-down: 3rem;


//------------ BREAKPOINTS -------//
$bp-xsmall:				340;
$bp-small:        		700;
$bp-medium:				1024;
$bp-large:				1200;
$bp-xlarge:				1500;


//------------ MEDIA QUERIES -------//
$mq-xsmall:				"only screen and (min-width: #{$bp-xsmall}px)";
$mq-small:        "only screen and (min-width: #{$bp-small}px)";
$mq-medium:				"only screen and (min-width: #{$bp-medium}px)";
$mq-large:				"only screen and (min-width: #{$bp-large}px)";
$mq-xlarge:				"only screen and (min-width: #{$bp-xlarge}px)";
$mq-retina:				"only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)";
