<template name="footer">

  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">

          <div class="col-sm-4">
            <small class="d-block mb-3 text-muted">
              <p><strong>The United States Prosecutor Database</strong>. Copyright &copy; 2017 - 2019 Billimarie Lubiano Robinson.</p>
              <p><strong>USPD</strong> is an independent, open-source, public prosecutor oversight database &amp; app. License: GNU GPLv3. Last Updated: November 2nd 2019. Built &amp; maintained on GitHub, Meteor, MongoDB, mLab, &amp; Heroku by <strong><a href="https://www.github.com/billimarie" target="_blank">@billimarie</a></strong>.</p>
            </small>
          </div>

          <div class="col-sm-4">
            <h4>Contribute</h4>
            <ul class="list-unstyled text-small">
              <li>Beginner: <a href="https://www.github.com/billimarie/prosecutor-database#intermediate" target="_blank">Add to Google Sheets/Form</a></li>
              <li>Intermediate: <a href="https://www.github.com/billimarie/prosecutor-database#intermediate" target="_blank">JSON/CSV Data Collection</a></li>
              <li>Advanced: <a href="https://www.github.com/billimarie/prosecutor-database#advanced" target="_blank">Develop USPD App</a></li>
            </ul>
          </div>

          <div class="col-sm-2">
            <h4>Database</h4>
            <ul class="list-unstyled text-small">
              <li><a href="{{pathFor route='home'}}">Attorney General</a></li>
              <li><a href="{{pathFor route='home'}}#us-attorney">U.S. Attorney</a></li>
              <li><a href="{{pathFor route='home'}}#district-attorney">District Attorney</a></li>
              <li><a href="{{pathFor route='home'}}#municipal-attorney">Municipal/City Attorney</a></li>
            </ul>
          </div>

          <div class="col-sm-2">
            <h4>Menu</h4>
            <ul class="list-unstyled text-small">
              <li><a href="{{pathFor route='home'}}">Home</a></li>
              <li><a href="{{pathFor route='about'}}">About</a></li>
              <li><a href="{{pathFor route='glossary'}}">Glossary</a></li>
              <li><a href="https://www.github.com/billimarie/prosecutor-database" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
              <li><a href="https://www.twitter.com/USProsecutorDB" target="_blank"><i class="fab fa-twitter"></i> @USProsecutorDB</a></li>
              <li><a href="https://www.twitter.com/postcarceral" target="_blank"><i class="fab fa-twitter"></i> @postcarceral</a></li>
              <li><a href="http://eepurl.com/dqPQdL" target="_blank">Mailing List</a></li>
            </ul>
          </div>

        </div>
      </footer>
    </div>

</template>
