<template name="attorneyView">
  {{#if Attorneys}}
    {{#each Attorneys}}
      <div class="jumbotron" style="padding: 30px; background-color: #f8f9fa; border-radius: 10px;">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4">
              {{#if headshot}}
                <img src="{{headshot}}" class="thumbnail img-fluid rounded" />
              {{else}}
                <img src="/images/anon-prosecutor.jpg" class="thumbnail img-fluid rounded" />
              {{/if}}
            </div>
            <div class="col-md-8">
              <h1 class="display-4">{{name}}</h1>
              <h2 class="lead">{{role}}</h2>
              <h3><strong>{{state}}</strong> ({{county}})</h3>
              <p>
                {{office.address.street}}<br />
                {{office.address.city}}, {{state}} {{office.address.zipcode}}<br />
              </p>
              <p>
                <strong><a href="tel:{{office.address.phone}}"><i class="fas fa-phone-square"></i> {{office.address.phone}}</a></strong><br />
                <strong><a href="mailto:{{office.email}}"><i class="fas fa-envelope"></i> {{office.email}}</a></strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        {{> articleView}}

        <!-- Relevant Cases Section -->
        <section class="row my-5">
          <div class="page-header">
            <h2>Relevant Cases</h2>
            <ul class="case-list list-unstyled">
              {{#each relevantCases}}
                <li class="mb-4">
                  <h3>
                    <a href="{{this.url}}" target="_blank" class="text-primary">
                      {{this.title}}
                    </a>
                  </h3>
                  <p><em>{{this.summary}}</em></p>
                </li>
              {{/each}}
            </ul>
          </div>
        </section>

        <!-- Previous Prosecutors Section -->
        <section class="row my-5">
          <div class="page-header">
            <h2>Previous Prosecutors</h2>
            <p>A list of previous prosecutors who occupied this role.</p>
            <ul class="case-list list-unstyled">
              {{#each previous}}
                <li class="mb-4">
                  <h3>
                    <a href="{{this.url}}" target="_blank" class="text-primary">
                      {{this.name}}
                    </a>
                  </h3>
                  <p><em>From {{formatDate this.appointed}} to {{formatDate this.exited}}</em></p>
                </li>
              {{/each}}
            </ul>
          </div>
        </section>
      </div>
    {{/each}}
  {{/if}}
</template>

