<template name="currentProsecutors">
  <div class="row">
    <div class="col-md-4">
      <div class="margin-btm-med">
        <h2>Find A Prosecutor</h2>
      </div>

      <div class="margin-btm-med">
        {{ > search}}
        <p>Press <strong>'enter'</strong> to submit.</p>
        <p>Search by <strong>name</strong>, <strong>state</strong>, or <strong>role</strong> (examples: <em>"Foxx,"</em> <em>"California",</em> or <em>"District Attorney"</em>)</p>
      </div>

      <div class="row margin-btm-lg">
        <h3>Filter by Role</h3>
        <ul class="nav nav-tabs btn-group" role="group">
          <li role="presentation">
            <a href="#attorney-general" aria-controls="attorney-general" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">Attorney General</button></a>
          </li>
          <li role="presentation">
            <a href="#us-attorney" aria-controls="us-attorney" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">U.S. Attorney</button></a>
          </li>
          <li role="presentation">
            <a href="#district-attorney" aria-controls="district-attorney" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">District Attorney</button></a>
          </li>
          <li role="presentation">
            <a href="#municipal-attorney" aria-controls="municipal-attorney" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">Municipal Attorney</button></a>
          </li>
          <li role="presentation" class="active">
            <a href="#view-all" aria-controls="view-all" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">View All</button></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="container-fluid">
        <div id="prosecutor-list" class="tab-content">
          <div role="tabpanel" class="tab-pane fade" id="attorney-general">
            {{#if findAttorneyType 'Attorney General'}}
            <ul class="row">
                {{#each findAttorneyType 'Attorney General'}}
                <li class="col-md-4 single-attorney">
                  <a href="{{pathFor 'attorneyView'}}">
                    <h3 class="name">{{name}}</h3>
                    <h4 class="state">{{state}}</h4>
                    <h4 class="role">{{role}}</h4>
                  </a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>No <strong>Attorney General</strong> data available.</p>
            {{/if}}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="us-attorney">
            {{#if findAttorneyType 'US Attorney'}}
            <ul class="row">
              {{#each findAttorneyType 'US Attorney'}}
            <li class="col-md-4 single-attorney">
              <a href="{{pathFor 'attorneyView'}}">
                <h3>{{name}}</h3>
                <h4>{{state}}</h4>
                <h4>{{role}}</h4>
                <h5><em>{{district}}</em></h5>
                <h6>Appointed: {{appointed}}</h6>
              </a>
            </li>
              {{/each}}
            </ul>
            {{else}}
              <p>No <strong>U.S. Attorney</strong> data available.</p>
            {{/if}}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="district-attorney">
            {{#if findAttorneyType 'District Attorney'}}
            <ul class="row">
              {{#each findAttorneyType 'District Attorney'}}
            <li class="col-md-4 single-attorney">
              <a href="{{pathFor 'attorneyView'}}">
                <h3>{{name}}</h3>
                <h4>{{state}}</h4>
                <h4>{{role}}</h4>
                <h5><em>{{county}}</em></h5>
              </a>
            </li>
              {{/each}}
            </ul>
            {{else}}
              <p>No <strong>District Attorney</strong> data available. <a href="https://goo.gl/forms/JG9gYxSIGE7nB6eK2" target="_blank">Submit your district attorney data.</a></p>
            {{/if}}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="municipal-attorney">
            {{#if findAttorneyType 'Municipal Attorney'}}
            <ul class="row">
              {{#each findAttorneyType 'Municipal Attorney'}}
            <li class="col-md-4 single-attorney">
              <a href="{{pathFor 'attorneyView'}}">
                <h3>{{name}}</h3>
                <h4>{{state}}</h4>
                <h4>{{role}}</h4>
                <h5><em>{{county}}</em></h5>
              </a>
            </li>
              {{/each}}
            </ul>
            {{else}}
              <p>No <strong>Municipal, City, and/or County Attorney</strong> data available. <a href="https://goo.gl/forms/JG9gYxSIGE7nB6eK2" target="_blank">Submit your district attorney data.</a></p>
            {{/if}}
          </div>

          <div role="tabpanel" class="tab-pane fade in active" id="view-all">
            {{#if allAttorneys}}
            <ul class="row">
              {{#each allAttorneys}}
            <li class="col-md-4 single-attorney">
              <a href="{{pathFor 'attorneyView'}}">
                <h3>{{name}}</h3>
                <h4>{{state}}</h4>
                <h4>{{role}}</h4>
                <h5><em>{{county}}</em></h5>
              </a>
            </li>
              {{/each}}
            </ul>
            {{else}}
              <p>Our database doesn't have that, yet. <a href="https://goo.gl/forms/JG9gYxSIGE7nB6eK2" target="_blank">Submit prosecutor data.</a></p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
