<template name="currentProsecutors">

  <div class="row my-5">
    <div class="container mx-auto text-center">
      <h3>Filter by Role</h3>
       <ul class="nav nav-tabs btn-group" role="group">
         <li role="presentation">
           <a href="#attorney-general" aria-controls="attorney-general" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">Attorney General</button></a>
         </li>
         <li role="presentation">
           <a href="#us-attorney" aria-controls="us-attorney" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">U.S. Attorney</button></a>
         </li>
         <li role="presentation">
           <a href="#district-attorney" aria-controls="district-attorney" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">District Attorney</button></a>
         </li>
         <li role="presentation">
           <a href="#municipal-attorney" aria-controls="municipal-attorney" role="tab" data-toggle="tab"><button type="button" class="btn btn-lg">Municipal Attorney</button></a>
         </li>
         <li role="presentation" class="active">
           <a href="#view-all" aria-controls="view-all" role="tab" data-toggle="tab"><button type="button" class="btn btn-primary btn-lg">View All</button></a>
         </li>
       </ul>
     </div>
   </div>

  <div class="row my-5">
    <div class="container">
      <div class="col-md-8">
        <div class="container-fluid">
          <div id="prosecutor-list" class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="attorney-general">
              {{#if findAttorneyType 'Attorney General'}}
              <div class="col-sm-4 col-md-4">
                {{#each findAttorneyType 'Attorney General'}}
                <div class="card mb-3">
                 <h3 class="card-header">{{name}}</h3>
                 <div class="card-body">
                   <h5 class="card-title">{{role}}</h5>
                   <h6 class="card-subtitle text-muted">{{state}}</h6>
                 </div>
                 <img style="height: 200px; width: 100%; display: block;" src="{{headshot}}" alt="{{name}}, {{role}} of {{state}}">
                 <div class="card-body">
                   {{#if county}}<p class="card-text">{{county}}</p>{{/if}}
                   {{#if district}}<p class="card-text">{{district}}</p>{{/if}}
                   {{#if dateExists appointed}}<p class="card-text">{{unixToMMddYYYY appointed}}</p>{{/if}}
                 </div>
                 <!-- <div class="card-body">
                   <a href="#" class="card-link">Card link</a>
                   <a href="#" class="card-link">Another link</a>
                 </div> -->
                 <div class="card-footer text-muted">
                   2 days ago
                 </div>
               </div>
               {{/each}}
              </div>
              {{else}}
              <p>No <strong>Attorney General</strong> data available.</p>
              {{/if}}
            </div>

            <div role="tabpanel" class="tab-pane fade" id="us-attorney">
              {{#if findAttorneyType 'US General'}}
              <div class="col-sm-4 col-md-4">
                {{#each findAttorneyType 'US General'}}
                <div class="card mb-3">
                 <h3 class="card-header">{{name}}</h3>
                 <div class="card-body">
                   <h5 class="card-title">{{role}}</h5>
                   <h6 class="card-subtitle text-muted">{{state}}</h6>
                 </div>
                 <img style="height: 200px; width: 100%; display: block;" src="{{headshot}}" alt="{{name}}, {{role}} of {{state}}">
                 <div class="card-body">
                   {{#if county}}<p class="card-text">{{county}}</p>{{/if}}
                   {{#if district}}<p class="card-text">{{district}}</p>{{/if}}
                   {{#if dateExists appointed}}<p class="card-text">{{unixToMMddYYYY appointed}}</p>{{/if}}
                 </div>
                 <!-- <div class="card-body">
                   <a href="#" class="card-link">Card link</a>
                   <a href="#" class="card-link">Another link</a>
                 </div> -->
                 <div class="card-footer text-muted">
                   2 days ago
                 </div>
               </div>
               {{/each}}
              </div>
              {{else}}
              <p>No <strong>U.S. Attorney</strong> data available.</p>
              {{/if}}
            </div>

            <div role="tabpanel" class="tab-pane fade" id="municipal-attorney">
              {{#if findAttorneyType 'Municipal General'}}
              <div class="col-sm-4 col-md-4">
                {{#each findAttorneyType 'Municipal General'}}
                <div class="card mb-3">
                 <h3 class="card-header">{{name}}</h3>
                 <div class="card-body">
                   <h5 class="card-title">{{role}}</h5>
                   <h6 class="card-subtitle text-muted">{{state}}</h6>
                 </div>
                 <img style="height: 200px; width: 100%; display: block;" src="{{headshot}}" alt="{{name}}, {{role}} of {{state}}">
                 <div class="card-body">
                   {{#if county}}<p class="card-text">{{county}}</p>{{/if}}
                   {{#if district}}<p class="card-text">{{district}}</p>{{/if}}
                   {{#if dateExists appointed}}<p class="card-text">{{unixToMMddYYYY appointed}}</p>{{/if}}
                 </div>
                 <!-- <div class="card-body">
                   <a href="#" class="card-link">Card link</a>
                   <a href="#" class="card-link">Another link</a>
                 </div> -->
                 <div class="card-footer text-muted">
                   2 days ago
                 </div>
               </div>
               {{/each}}
              </div>
              {{else}}
              <p>No <strong>Municipal, City, and/or County Attorney</strong> data available.</p>
              {{/if}}
            </div>

            <div role="tabpanel" class="tab-pane fade in active" id="view-all">
              {{#if allAttorneys}}
              <div class="col-sm-4 col-md-4">
                {{#each allAttorneys}}
                <div class="card mb-3">
                 <h3 class="card-header">{{name}}</h3>
                 <div class="card-body">
                   <h5 class="card-title">{{role}}</h5>
                   <h6 class="card-subtitle text-muted">{{state}}</h6>
                 </div>
                 <img style="height: 200px; width: 100%; display: block;" src="{{headshot}}" alt="{{name}}, {{role}} of {{state}}">
                 <div class="card-body">
                   {{#if county}}<p class="card-text">{{county}}</p>{{/if}}
                   {{#if district}}<p class="card-text">{{district}}</p>{{/if}}
                   {{#if dateExists appointed}}<p class="card-text">{{unixToMMddYYYY appointed}}</p>{{/if}}
                 </div>
                 <!-- <div class="card-body">
                   <a href="#" class="card-link">Card link</a>
                   <a href="#" class="card-link">Another link</a>
                 </div> -->
                 <div class="card-footer text-muted">
                   2 days ago
                 </div>
               </div>
               {{/each}}
              </div>
              {{else}}
              <p>No data available at the moment. Please check again later.</p>
              {{/if}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="container mx-auto text-center">
      <h3>Recently Updated</h3>
    </div>
  </div>

  <div class="row">
    <div class="container">
        {{#if recentAttorneys}}
          <ul>
            {{#each recentAttorneys}}
              <li class="col-sm-4 single-attorney">
                <a href="{{pathFor 'attorneyView'}}">
                  <div class="thumbnail col-xs-6" style="background-image:url('{{headshot}}')"></div>
                  <h3>{{name}}</h3>
                  <h4>{{state}}</h4>
                  <h4>{{role}}</h4>
                  <h5><em>{{county}}</em></h5>
                </a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
    </div>
  </div>

</template>
