<template name="homeHero">
	<section class="home-hero">
		<div class="jumbotron">
	    <div class="container">

				<div class="row my-5">
					<div class="col">
						<h1>The United States Prosecutor Database</h1>
						<h5>We currently have {{number}} prosecutors listed.</h5>
					</div>
				</div>

				<div class="row my-5">
					<div class="col">
			    	{{ > search}}
						<p>Press <strong>'enter'</strong> to submit. Search by <strong>name</strong>, <strong>state</strong>, or <strong>role</strong> (examples: <em>"Foxx,"</em> <em>"California",</em> or <em>"District Attorney"</em>)</p>
					</div>
				</div>

	    </div>
	  </div>
	</section>
</template>
