<template name="mailingList">
  <section class="mailing-list">
    <div class="container-fluid">
      <!-- Begin MailChimp Signup Form -->
      <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css"> -->
      <div id="mc_embed_signup">
        <form action="https://xyz.us11.list-manage.com/subscribe/post?u=02418f204ebb4def99a9fd060&amp;id=0f6ceecd57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="row">
              <label for="mce-EMAIL">Subscribe to our mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02418f204ebb4def99a9fd060_0f6ceecd57" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          	</div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
