<template name="about">
  <div class="container basic-page">
    <div class="row">
      <div id="about" class="col-md-10">
        <h2 class="page-header">About <em>Light Pollution</em></h2>
        <p><strong>Light Pollution</strong> is a growing database of attorneys who represent the government (and, of course, work for the people).</p>

        <h3 class="page-header stats">In 46 states, prosecutors are elected&mdash;and <strong>85% run without opposition</strong>.</h3>

        <p>Shocked at the lack of a complete and comprehensive list of U.S. prosecutors, I decided to build one, myself. The goal is to inspire more engagement from the public when it comes to prosecutor oversight, elections, and cases.</p>

        <h3 class="page-header"><strong>Ending Mass Incarceration</strong> starts with <strong>Prosecutorial Oversight</strong> <br /><small><strong>97%</strong> of prisoners are held in <strong>state prisons</strong>.</small></h3>

        <p>John Pfaff, author of <strong>Locked In</strong>, argues that the U.S. prison problem needs to be redefined. Paraphrasing from <em>The Marshall Project</em> (<a href="https://www.themarshallproject.org/2017/02/09/everything-you-think-you-know-about-mass-incarceration-is-wrong#.Gwky4mA1Y" target="_blank">"Everything You Think You Know About Mass Incarceration Is Wrong"</a>):</p>

        <p>Instead of telling the same tired stories about mass incarceration (war on drugs, private prisons, privitization of prisons, etc.), we need to <strong>zero in on prosecutors</strong>.</p>

        <p>Since the 1990's, violent crime and arrests for violent crime have declined&mdash;but the number of felony cases filed in state courts continue to jump drastically higher than they should. "The probability that a prosecutor would file felony charges against an arrestee basically <strong>doubled</strong>," Pfaff writes, "and <strong>that change pushed prison populations up even as crime dropped</strong>."</p>

        <p>Unsurprisingly, as you look at the data for the last twenty or so years, <strong>tens of thousands more prosecutors were hired even <em>after</em> crime stopped rising</strong>. Simultaneously, the District Attorney position became a more politically powerful one:</p>

        <h3 class="page-header">Prosecutors’ discretion, always great, was expanded by courts and legislatures.<br /><small>And public defenders, stuck at the same or lower levels of funding, have not kept up with the growing caseload.</small></h3>

        <h3 class="page-header stats"><strong>95%</strong> of cases end in plea bargains worked out behind closed doors</h3>

        <p>Pfaff believes one of the reasons why prisoners' rights advocates have forgotten to hold prosecutors accountable is simply because there is no data available. We overlook the role of prosecutors since they are less visible:</p>

        <h3 class="page-header">"We see the police every day; no one is more high-profile in the criminal justice system,” he said in an interview. “Then we think of the judge imposing the sentence."<br /><small>But prosecutors, and how they work, remain something of a mystery.</small></h3>

        <h3 class="page-header">How to Hold Prosecutors Accountable</h3>

        <p>Pfaff offers several plans to end prosecutor brutality:</p>

        <h3>1.) Establish guidelines for charging and plea bargaining.</h3>
        <h3>2.) Make prosecutors pay from their county budgets for the bed space they use in state prisons.</h3>
        <h3>3.) Provide more funding for public defenders.</h3>
        <h3>4.) Attack public complacency.</h3>

        <h3 class="page-header">"...<strong>we need to focus on the local</strong>...Second, <strong>we need to collect better data</strong>. That would give us a “clearer sense of what is happening and why” and empower us to come up with better solutions." (<a href="http://news.law.fordham.edu/blog/2017/03/10/weve-been-explaining-mass-incarceration-in-all-the-wrong-ways/" target="_blank">Fordham Law</a>)</h3>
      </div>
    </div>
  </div>
</template>
