<template name="about">
  <div class="jumbotron">
    <div class="container">
      <div class="row my-5">
        <div class="col">
          <h2>About <em>The U.S. Prosecutor Database</em></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container basic-page">
    <div class="row">
      <div id="about" class="col-md-10">
        <p class="my-4"><strong>The United States Prosecutor Database</strong> is a growing database of attorneys who represent the government (&amp;, of course, work for the people).</p>
        <p class="my-4">In 46 states, prosecutors are elected&mdash;&amp; <strong>85% run without opposition</strong>.</p>
        <p style="my-4">Inspired by <a href="https://www.amazon.com/Arbitrary-Justice-Power-American-Prosecutor/dp/0195384733" target="_blank">Arbitrary Justice: The Power of the American Prosecutor</a> by the legendary Angela Davis, I decided to start compiling a list of basic information about current &amp; previous prosecutors. This proved to be harder than originally thought. Due to the severe lack of a complete/comprehensive learning resource, I asked friends to help. We started mining what we could. Eventually, people found the open-source project on GitHub &amp; began contributing as well.</p>
        <p class="my-4">The goal of this project is to inspire engagement from the public when it comes to prosecutor oversight, elections, &amp; cases.</p>
        <p class="my-4"><strong>Ending Mass Incarceration</strong> starts with <strong>Prosecutorial Oversight</strong>.</p>
        <p class="my-4"><strong>97%</strong> of prisoners are held in <strong>state prisons</strong>--not private prisons. John Pfaff, author of <strong>Locked In</strong>, argues that the U.S. prison problem needs to be redefined. Paraphrasing from <em>The Marshall Project</em> (<a href="https://www.themarshallproject.org/2017/02/09/everything-you-think-you-know-about-mass-incarceration-is-wrong#.Gwky4mA1Y" target="_blank">"Everything You Think You Know About Mass Incarceration Is Wrong"</a>):</p>
        <blockquote class="blockquote my-5">Instead of telling the same tired stories about mass incarceration (war on drugs, private prisons, privitization of prisons, etc.), we need to <strong>zero in on prosecutors</strong>.</blockquote>
        <p class="my-4">Since the 1990's, violent crime &amp; arrests for violent crime have declined&mdash;but the number of felony cases filed in state courts continue to jump drastically higher than they should. "The probability that a prosecutor would file felony charges against an arrestee basically <strong>doubled</strong>," Pfaff writes, "&amp; <strong>that change pushed prison populations up even as crime dropped</strong>."</p>
        <p class="my-4">Unsurprisingly, as you look at the data for the last twenty or so years, <strong>tens of thous&amp;s more prosecutors were hired even <em>after</em> crime stopped rising</strong>. Simultaneously, the District Attorney position became a more politically powerful one:</p>
        <p class="my-4">Prosecutors’ discretion, always great, was exp&amp;ed by courts &amp; legislatures. &amp; public defenders, stuck at the same or lower levels of funding, have not kept up with the growing caseload.</p>
        <p class="my-4"><strong>95%</strong> of cases end in plea bargains worked out behind closed doors.</p>
        <p class="my-4">Pfaff believes one of the reasons why prisoners' rights advocates have forgotten to hold prosecutors accountable is simply because there is no data available. We overlook the role of prosecutors since they are less visible:</p>
        <blockquote class="blockquote my-5">"We see the police every day; no one is more high-profile in the criminal justice system,” he said in an interview. “Then we think of the judge imposing the sentence."</blockquote>
        <p class="my-4">But prosecutors, &amp; how they work, remain something of a mystery.</p>
        <p class="my-4">The United States Prosecutor Database is one attempt to demystify the power of local, state, &amp; federal prosecutors. Our hope is you feel inspired to vote based upon prosecutorial data rather than campaign slogans, as we can help shift the tide away from mass incarceration toward a post-carceral world.</p>
      </div>
    </div>
  </div>
</template>
