<template name="about">
  <div class="container">
    <div class="row">
      <div id="about" class="col-md-8">
        <h2 class="page-header">About <em>Light Pollution</em></h2>
        <p><strong>Light Pollution</strong> is a growing database of attorneys who represent the government (and, of course, work for the people).</p>

        <h2 class="page-header stats">In 46 states, prosecutors are elected&mdash;and <strong>85% run without opposition</strong>.</h2>

        <p>Shocked at the lack of a complete and comprehensive list of U.S. prosecutors, I decided to build one, myself. The goal is to inspire more engagement from the public when it comes to prosecutor oversight, elections, and cases.</p>

        <p><a href="#prosecutor-brutality">Why does <strong>Increased Prosecutor Scrutiny</strong> matter?</a></p>

        <h2 class="page-header">Contribute</h2>

        <p>Anyone can help build the <strong>Light Pollution</strong> database. We need:</p>
        <ul>
          <li>data entry</li>
          <li>research</li>
          <li>code</li>
          <li>project management</li>
          <li>Q&amp;A testing</li>
          <li>bug reports</li>
        </ul>

        <p>To start building, visit the project's GitHub repo: <a href="https://www.github.com/billimarie/light-pollution" target="_blank">light-pollution</a></p>

        <p>If you'd like to help but you're not quite sure how, please <a href="https://www.CLASPjustice.com/contact" target="_blank">contact me directly</a>.</p>

        <h3 class="page-header">About <em>CLASP</em></h3>

        <p>My work as a co-founder and Director of Legal Technology and Design for <a href="https://www.CLASPjustice.com" target="_blank">CLASP</a> (the Community Legal &amp; Advocacy Services Project) inspires me to create projects like <strong>Light Pollution</strong>. If you're interested in direct ways you can fight against mass incarceration, <a href="https://www.CLASPjustice.com/contact" target="_blank">contact me</a>. You can also check out our <a href="https://www.CLASPjustice.com/get-involved" target="_blank">volunteer opportunities</a>, as we're always looking for remote and in-house support on legal cases, prisoner advocacy, and more.</p>

        <p>Finally, one of the most concrete ways you can help a new, startup nonprofit like us is to <a href="https://www.CLASPjustice.com/donate" target="_blank">give a donation</a>. It's 100% tax-deductable, and you get to rest easy knowing your dollars go toward paying a prisoner's extremely expensive legal fees, email stamps (private companies like JPAY charge prisoners and those who want to email them $2.00 for 5 emails), and supporting projects like <strong><span id="prosecutor-brutality">Light Pollution</span></strong> (including the anonymous <strong><a href="https://www.CLASPjustice.com/prisoner-reports" target="_blank">New Jersey Prisoner Reports</a></strong>).</p>

        <h2 class="page-header">Ending Mass Incarceration starts with <strong>Prosecutorial Oversight</strong></h2>

        <h2 class="page-header stats"><strong>97%</strong> of prisoners are held in <strong>state prisons</strong>.</h2>

        <p>John Pfaff, author of <strong>Locked In</strong>, argues that the U.S. prison problem needs to be redefined. Paraphrasing from <em>The Marshall Project</em> (<a href="https://www.themarshallproject.org/2017/02/09/everything-you-think-you-know-about-mass-incarceration-is-wrong#.Gwky4mA1Y" target="_blank">"Everything You Think You Know About Mass Incarceration Is Wrong"</a>):</p>

        <p>Instead of telling the same tired stories about mass incarceration (war on drugs, private prisons, privitization of prisons, etc.), we need to <strong>zero in on prosecutors</strong>.</p>

        <p>Since the 1990's, violent crime and arrests for violent crime have declined&mdash;but the number of felony cases filed in state courts continue to jump drastically higher than they should. "The probability that a prosecutor would file felony charges against an arrestee basically <strong>doubled</strong>," Pfaff writes, "and <strong>that change pushed prison populations up even as crime dropped</strong>."</p>

        <p>Unsurprisingly, as you look at the data for the last twenty or so years, <strong>tens of thousands more prosecutors were hired even <em>after</em> crime stopped rising</strong>. Simultaneously, the District Attorney position became a more politically powerful one:</p>

        <blockquote class="blockquote-reverse">Prosecutors’ discretion, always great, was expanded by courts and legislatures. And public defenders, stuck at the same or lower levels of funding, have not kept up with the growing caseload.</blockquote>

        <h2 class="page-header stats"><strong>95%</strong> of cases end in plea bargains worked out behind closed doors</h2>

        <p>Pfaff believes one of the reasons why prisoners' rights advocates have forgotten to hold prosecutors accountable is simply because there is no data available. We overlook the role of prosecutors since they are less visible:</p>

        <blockquote class="blockquote-reverse">"We see the police every day; no one is more high-profile in the criminal justice system,” he said in an interview. “Then we think of the judge imposing the sentence." But prosecutors, and how they work, remain something of a mystery.</blockquote>

        <h2 class="page-header">How to Hold Prosecutors Accountable</h2>

        <p>Pfaff offers several plans to end prosecutor brutality:</p>

        <h3>1.) Establish guidelines for charging and plea bargaining.</h3>
        <h3>2.) Make prosecutors pay from their county budgets for the bed space they use in state prisons.</h3>
        <h3>3.) Provide more funding for public defenders.</h3>
        <h3>4.) Attack public complacency.</h3>

        <blockquote class="blockquote-reverse">"...<strong>we need to focus on the local</strong>...Second, <strong>we need to collect better data</strong>. That would give us a “clearer sense of what is happening and why” and empower us to come up with better solutions." (<a href="http://news.law.fordham.edu/blog/2017/03/10/weve-been-explaining-mass-incarceration-in-all-the-wrong-ways/" target="_blank">Fordham Law</a>)</blockquote>
      </div>
    </div>
  </div>
</template>
