<template name="contributors">
  <div class="container basic-page">
    <div class="row">
      <div id="about" class="col-md-10">
        <h2 class="page-header">Contributors</h2>

        <h3>Individuals</h3>

        <p>This project would not be possible without the following individuals: TBD.</p>

        <h3>Organizations</h3>

        <p>TBD</p>

        <h3>How To Contribute</h3>

        <p>Anyone can help build the <strong>Light Pollution</strong> database. We need:</p>
        <ul>
          <li>data entry</li>
          <li>research (Google searches)</li>
          <li>dev (Meteor.js)</li>
          <li>UI/UX</li>
        </ul>

        <p>I host Datathons every Sunday. We work in-person and remotely to compile prosecutor data. For more information, check out the Facebook invite or <a href="mailto:work@billimarie.com" target="_blank">send me an email</a>.</p>

        <p><strong>For Developers:</strong> to start building, visit the project's GitHub repo: <a href="https://www.github.com/billimarie/light-pollution" target="_blank">light-pollution</a></p>

      </div>
    </div>
  </div>
</template>
