<template name="home">

  {{> homeHero}}

  <section id="prosecutor-list" class="find-prosecutor">
    <div class="container view-attorneys text-center">
      {{> currentProsecutors}}
    </div>

    <div class="container">
      <div class="row mx-auto text-center">
        <h4>Recently Updated</h4>
      </div>
      <div class="row my-5">
          {{#if recentAttorneys}}
            <ul>
              {{#each recentAttorneys}}
                <li class="col-sm-3 single-attorney">
                  <a href="{{pathFor 'attorneyView'}}">
                    <div class="thumbnail col-xs-6" style="background-image:url('{{headshot}}')"></div>
                    <h3>{{name}}</h3>
                    <h4>{{state}}</h4>
                    <h4>{{role}}</h4>
                    <h5><em>{{county}}</em></h5>
                  </a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
      </div>
    </div>
  </section>

  <!-- <section class="election">
    <div class="container">
      {{> election}}
    </div>
  </section> -->

    <!-- <section class="row text-center">
      {{> legalHistory}}
    </section> -->
</template>
