<template name="home">

  {{> homeHero}}

  <section id="prosecutor-list" class="find-prosecutor">
    <div class="container view-attorneys text-center">
      {{> currentProsecutors}}
    </div>

    <div class="container">
      <div class="row mx-auto text-center">
        <h4>Recently Updated</h4>
      </div>
      {{> recentlyUpdated}}
    </div>
  </section>

  <!-- <section class="election">
    <div class="container">
      {{> election}}
    </div>
  </section> -->

    <!-- <section class="row text-center">
      {{> legalHistory}}
    </section> -->
</template>
