<template name="articleView">
  <section class="articles">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Recent Articles</h2>
          {{#each articles}}
              <div class="row">
                  <div class="col-lg-4 col-md-6" style="box-shadow: 0 5px 10px rgba(0,0,0,0.1); padding: 10px; margin: 10px;">
                  {{#if featuredImage}}
                      <img src="{{featuredImage}}" style="margin-left: auto; margin-right: auto; display: block;" width="100%" />
                  {{else}}
                      <img src="/images/default-article.jpg" style="margin-left: auto; margin-right: auto; display: block;" width="75%" />
                  {{/if}}
                      <hr>
                 {{#if url}}
                    <h3 style="padding-top: 1px;"><a href="{{url}}" target="blank">{{title}}</a></h3>
                 {{else}}
                    <h3 style="padding-top: 1px; font-weight: bold">{{title}}</h3>
                {{/if}}
                      <p style="text-overflow: ellipsis">{{summary}}</p>
                  </div>
              </div>
          {{/each}}
      </div>
    </div>
  </section>
</template>
