<template name="currentProsecutors">

  <div class="row my-5">
    <div class="container mx-auto text-center">
      <h3>Filter by Role</h3>
       <ul class="nav nav-pills btn-group" role="tablist">
         <li class="nav-item">
           <a data-target="#attorney-general" data-toggle="pill"><button class="filterBtn btn btn-lg" value="Attorney General" type="button">Attorney General</button></a>
         </li>
         <li class="nav-item">
           <a data-target="#us-attorney" data-toggle="pill"><button class="filterBtn btn btn-lg" value="US Attorney" type="button">U.S. Attorney</button></a>
         </li>
         <li class="nav-item">
           <a data-target="#district-attorney" data-toggle="pill"><button class="filterBtn btn btn-lg" value="District Attorney" type="button">District Attorney</button></a>
         </li>
         <li class="nav-item">
           <a data-target="#municipal-attorney" data-toggle="pill"><button class="filterBtn btn btn-lg" value="Municipal Attorney" type="button">Municipal Attorney</button></a>
         </li>
         <li class="nav-item active">
           <a data-target="#view-all" data-toggle="pill"><button class="filterBtn btn btn-primary btn-lg" type="button">View All</button></a>
         </li>
       </ul>
     </div>
   </div>
      
      <div class="container-fluid mx-auto text-center">
          <div id="prosecutor-list" class="tab-content">
            {{> paginatedAttorneys }}
          </div>
      </div>

</template>

<!-- Format/Template for a single paginated item (Attorney cards) -->
<template name="prosecutorItem">
    <li class="card col-sm-3 single-attorney">
        <a href="{{pathFor 'attorneyView'}}">
          <h3 class="card-header">{{name}}</h3>
          <div class="thumbnail" style="background-image:url('{{headshot}}')"></div>
          <div class="card-body">
            <h4 class="card-title">{{role}}</h4>
            <h5 class="card-subtitle">{{state}}</h5>
            <div class="card-text">
              {{#if county}}<p class="card-text">{{county}}</p>{{/if}}
              {{#if district}}<p class="card-text">{{district}}</p>{{/if}}
            </div>
          </div>
          <div class="card-footer text-muted">Appointed: <!--{{#if dateExists appointed}}<p class="card-text">{{unixToMMddYYYY appointed}}</p>{{/if}} --></div>
        </a>
      </li>
</template>

<template name="paginatedAttorneys">
  {{> pages}}
  {{> pagesNav}}
</template>
